@font-face {
  font-family: 'Bagel Fat One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/hYkPPucsQOr5dy02WmQr5Zkd0B4.ttf) format('truetype');
}
@font-face {
  font-family: 'Salsa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/gNMKW3FiRpKj-imY.ttf) format('truetype');
}
